<% if flash[:error] %>
	<div class="notice">
		<div class="container">
			<i class="fas fa-ban"></i> <%= flash[:error] %>
		</div>
	</div>
<% end %>

<div class="container mt-5">
	<div class="d-md-flex my-md-4">
	<h4 class="text-info flex-fill">Checkout<br></h4>
	<div class="text-left text-md-right bg-light shadow-sm my-4 my-md-0 p-3 mr-0 rounded active-account">
		<h5 class="mb-0"><%= @account.account_name %></h5>
		<div>
			<span class="text-secondary" style="font-size: 14px;"><em>Account No: <%= @account.account_number %></em><br></span>
		</div>
	</div>
</div>

	<%= form_with url: investments_path(id:@property.id), local: true do |f| %>
		<input type="hidden" name="buy_shares" id="buy_shares" value="<% @property.min_shares %>">
    <input type="hidden" name="account_id" value="<%= @account.id %>">

		<div class="row row-cols-1 row-cols-lg-2">
			<div class="col mb-4">
				<div class="border rounded shadow-sm h-100">
					<div class="position-relative">
						<%= image_tag "#{@property.prop_image}.jpg", width:"100%" %>
						<div class="position-absolute bg-white py-2 px-4" style="left:0;right:0;bottom:0;opacity:0.9;">
							<div class="d-flex align-items-baseline">
								<h4 class="flex-fill mt-3"><%= @property.name %></h4>
								<h5 class="text-info">$ <%= @property.value / @property.total_shares %>/share</h5>
							</div>
							<ul class="list-unstyled d-flex">
								<li class="text-dark flex-fill">Yield: 10%</li>
								<li class="text-dark">Min. Investment: <%= @property.min_shares %> unit</li>
							</ul>
						</div>
					</div>
					<hr class="my-0">
					<div class="form-group bg-light p-4 mb-0">
						<div class="d-flex align-items-baseline">
							<i class="fas fa-angle-double-right text-info"></i>
							<%= f.label "Enter number of units to buy", class:"d-block" %>
						</div>
						<%= f.number_field "input_shares", class:"border rounded form-control-lg w-100", value: @property.min_shares %>
						<p class="mt-2 mb-0 text-black-50"><i><%= @property.available_shares %> units available</i></p>
					</div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="border rounded shadow-sm position-relative h-100">
					<div class="p-4">
						<h5 class="text-info flex-fill">Review and checkout</h5>
						<p class="mt-4 mb-1 font-italic">
							<strong>
								<em><%= @account.account_name %></em>
							</strong>
							<em> investment account will secure</em>
							<span id="review_shares"><%= @property.min_shares %></span> unit share in <%= @property.name %> at
							$<%= @property.value / @property.total_shares %>/share.
						</p>

						<h6 class="text-info mt-5">Investment Summary</h6>
						<hr class="m-0">
						<div class="position-relative">
							<div id="spinner" class="position-absolute w-100 text-center bg-light" style="top: 0%; bottom: 0px; opacity: 0.9; padding-top: 10%; visibility: hidden;">
								<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
							</div>
							<ul class="list-unstyled text-secondary d-flex mb-1">
								<li class="flex-fill">Investment</li>
								<li id="inv">$ <%= (@property.value / @property.total_shares) * @property.min_shares %></li>
							</ul>
							<ul class="list-unstyled text-secondary d-flex mb-1">
								<li class="flex-fill">Transaction Fees</li>
								<li id="fees">$ 65.00</li>
							</ul>
							<ul class="list-unstyled d-flex mt-1 py-2 font-weight-bold border-top border-bottom" style="font-size: 14pt;">
								<li class="flex-fill">Total Due</li>
								<li id="total">$ 715.00</li>
							</ul>
						</div>
					</div>
					<div class="pay-button">
						<button id="payButton" class="btn btn-info btn-block btn-lg rounded-0 py-3" type="submit" name="submit">Checkout</button>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	$('#input_shares').on('blur', function(){
		let availableShare = <%= @property.available_shares %>;
		let minimumShare = <%= @property.min_shares %>

		if(Number(this.value) < minimumShare){
			this.value = minimumShare;

		} else if(Number(this.value) > availableShare){
			this.value  = availableShare;

		} else if(Number(this.value % 1 != 0)){
			this.value = Math.round(this.value);
		}

		$('#review_shares').text(this.value);
		$('#buy_shares').val(this.value);

		calculatePricing(Number(this.value));

	});

	function calculatePricing(value){
		$('#spinner').css('visibility', 'visible');
		$('#payButton').attr('disabled', true)
		const formatter = new Intl.NumberFormat('en-US', {
			minimumFractionDigits: 2
		});

		let request = $.ajax({
			url: '<%= update_price_path %>',
			data: { id: '<%= @property.id %>', input_shares: value },
			dataType: 'json'
		});

		request.done(function (data) {
			$('#inv').text('$ ' + formatter.format(data.investment));
			$('#fees').text('$ ' + formatter.format(data.trxn_fees));
			$('#total').text('$ ' + formatter.format(data.total_due));
			$('#spinner').css("visibility", "hidden");
			$('#payButton').attr('disabled', false)
		});
	}
</script>
