<div class="container py-5">

  <div class="row">
    <div class="col-12">
      <ul id="sidebar" class="list-unstyled d-flex">
        <li class="text-center text-lg-left flex-fill">
          <a class="text-info bg-light d-block py-2 pl-lg-3 mb-2 account-tabs active" href="<%= admin_properties_path %>">Properties<br></a>
        </li>
        <li class="text-center text-lg-left flex-fill">
          <a class="text-info bg-light d-block py-2 pl-lg-3 mb-2 account-tabs" href="#">Users<br></a>
        </li>
        <li class="text-center text-lg-left flex-fill">
          <a class="text-info bg-light d-block py-2 pl-lg-3 mb-2 account-tabs" href="">Accounts<br></a>
        </li>
        <li class="text-center text-lg-left flex-fill">
          <a class="text-info bg-light d-block py-2 pl-lg-3 mb-2 account-tabs" href="#">Investments<br></a>
        </li>
      </ul>
    </div>

		<div class="col">
			<div class="border rounded p-4">
        <div class="text-right mB-4">
          <%= link_to 'NEW PROPERTY', admin_new_property_path, class: "btn btn-info ml-md-2 button-block" %>
        </div>
        <hr>
        <div>
          <div class="table-responsive">
  					<table id="invTable" class="table table-hover table-bordered" style="width:100%">
  						<thead class="thead-light">
  							<tr>
  								<th></th>
  								<th>Date</th>
  								<th>Thumbnail</th>
  								<th>PID</th>
  								<th>Name</th>
  								<th>Units Sold</th>
  								<th>Unit Price</th>
  								<th>Status</th>
  								<th></th>
  							</tr>
  						</thead>
  					</table>
  				</div>
        </div>
			</div>
		</div>
	</div>
</div>

<!-- Modal to delete property -->
<%= form_with url: admin_properties_path, method: 'delete', local: true do |f| %>
	<div class="modal fade" role="dialog" tabindex="-1" id="delete_property">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete Property:</h5>
          <%= button_tag 'button', class:"close", "data-dismiss": "modal", "aria-label": "Close" do %>
						<span aria-hidden="true">×</span>
					<% end %>
				</div>
				<div class="modal-body">
					<h6 class="text-danger mb-0">
						Type&nbsp;<strong
							><span style="text-decoration: underline;">DELETE</span>&nbsp;</strong
						>to delete this property.&nbsp;<br />
					</h6>
					<p>Note that this action cannot be reversed.</p>
          <%= text_field_tag 'delete', nil, class:"form-control-lg form-control" %>
				</div>
				<div class="modal-footer">
          <%= f.button 'DELETE PROPERTY', class:"btn btn-danger submit" %>
				</div>
			</div>
		</div>
	</div>
<% end %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net/1.10.21/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
	data = <%== @properties.to_json %>;

	$(document).ready(function () {
    console.log(data)
		let table = $('#invTable').DataTable({
			data: data,
			columns: [
				{ data: null },
				{ data: 'created_at',
				  	render: function(data, type, row){
						let dateSplit = data.split('-');
						let daySplit = dateSplit[2].split('T');
						return type === "display" || type === "filter" ?
							daySplit[0] + '/' + dateSplit[1] + '/' + dateSplit[0] :
							data;
				  	}
				},
				{ data: 'prop_images',
          render: function(data, type, row){
            image_tag = '<%= cl_image_tag('swap', width:'100px') %>'
            image_tag = image_tag.split('swap')
            return image_tag[0] + data[0] + image_tag[1]
          }
        },
				{ data: 'prop_id' },
				{ data: 'name',
				  render: function(data, type, row){
					  return '<u><a href="/properties/' + row.id + '" target=_blank>' + data + '</a></u>'
				  }
				},
				{ data: null,
          render: function(data, type, row){
            return row.total_shares - row.available_shares + ' of ' + row.total_shares
          }
        },
				{ data: null,
				  render: function(data, type, row){
					  return '$ ' + formatPrice(row.value/row.total_shares)
				  }
				},
        { data: 'status' },
        { data: null,
          render: function(data, type, row){
            return '<div class="btn-group">' +
              '<button type="button" class="btn btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                '<i class="fas fa-ellipsis-h"></i>' +
              '</button>' +
              '<div class="dropdown-menu dropdown-menu-right">' +
                '<a class="dropdown-item" href="/admin/properties/'+ row.id + '/edit">Edit</a>'+
                '<div class="dropdown-divider"></div>'+
                '<button class="dropdown-item" onclick="showDelete(' + row.id + ')">Delete</button>'+
              '</div>'+
            '</div>'
          }
        }
			],

			"columnDefs": [ {
				"searchable": false,
				"orderable": false,
				"targets": 0
				},
				{className: "td-text-right", targets: 6},
				{ width: "130px", targets: 2}
			],

			"order": [[ 1, 'dsc' ]]
		});

		table.on( 'order.dt search.dt', function () {
			table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
				cell.innerHTML = i+1;
			});
		})
		.draw()
		.columns.adjust()
		// .responsive.recalc();
	});

	function formatPrice(val){
		const formatter = new Intl.NumberFormat('en-US', {
		  minimumFractionDigits: 2,
		  maximumFractionDigits: 2
		});

		return formatter.format(val);
	}

  function showDelete(id){
    let action = $('form').attr('action');
    action = action + '/' + id;
    $('form').attr('action', action);
    $('#delete_property').modal('show');

  }
</script>
