<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdSCEKNPlvctKMkk8AxglM_OQXMF-Vu00&libraries=places&callback=initAutocomplete" defer></script>

<% if flash[:error] %>
	<div class="notice">
		<div class="container">
			<i class="fas fa-ban"></i> <%= flash[:error] %>
		</div>
	</div>
<% end %>

<%= form_with model: @property, url: admin_properties_path,  multipart: true, local: true do |f| %>

	<div class="container py-5">
		<h4 class="text-info flex-fill mt-md-4 mb-5">New Property<br></h4>
		<div class="border rounded p-4">
			<div>
				<h5>Property Details</h5>
				<hr class="mb-4 border-info">
				<div class="form-row">
					<div class="form-group col-md-4">
            <%= f.label :prop_type, 'Property Type:', class:"d-block text-black-50" %>
            <%= f.select :prop_type, [['Single Family Home', 'Single Family Home'],['Condominium', 'Condominium'],['Apartment', 'Apartment'],['Mixed Living', 'Mixed Living']], {}, {class:"custom-select custom-select-lg form-control"} %>
					</div>
					<div class="form-group col-md-4">
            <%= f.label :name, 'Property Name:', class:"d-block text-black-50" %>
            <%= f.text_field :name, class:"form-control-lg form-control" %>
					</div>
          <div class="form-group col-md-4">
            <%= f.label :status, 'Status:', class:"d-block text-black-50" %>
            <%= f.select :status, [['active', 'active'], ['closed', 'closed']], {}, {class:"custom-select custom-select-lg form-control"} %>
          </div>
				</div>

				<div class="form-row">
          <div id="locationField" class="form-group col-md-4">
            <%= f.label :address, 'Property Address:', class:"d-block text-black-50" %>
            <%= f.text_field :address, class: "form-control-lg form-control", id: "autocomplete", onfocus: "geolocate()", autocomplete: "off", placeholder: "Enter your address..." %>
          </div>
          <div class="form-group col-md-4">
            <%= f.label :region, 'Property Region:', class:"d-block text-black-50" %>
            <%= f.text_field :region, class:"form-control-lg form-control" %>
					</div>
          <div class="form-group col-md-4">
            <%= f.label :prop_images, 'Property Images:', class:"d-block text-black-50" %>
            <%= f.file_field :prop_images, multiple: true, class:"form-control-lg form-control" %>
					</div>
				</div>

				<div class="form-row">
          <div class="form-group col-md-12">
            <%= f.label :description, 'Property Description:', class:"d-block text-black-50" %>
            <%= f.text_area :region, class:"form-control-lg form-control" %>
					</div>
				</div>

        <div class="form-row">
					<div class="form-group col-md-3">
            <%= f.label :bed, 'Bed:', class:"d-block text-black-50" %>
            <%= f.select :bed, [['1', '1'],['2', '2'],['3', '3'],['4', '4'], ['5', '5']], {}, {class:"custom-select custom-select-lg form-control"} %>
					</div>
					<div class="form-group col-md-3">
            <%= f.label :bath, 'Bath:', class:"d-block text-black-50" %>
            <%= f.select :bath, [['1', '1'],['2', '2'],['3', '3']], {}, {class:"custom-select custom-select-lg form-control"} %>
					</div>
          <div class="form-group col-md-3">
            <%= f.label :car_park, 'Car Park:', class:"d-block text-black-50" %>
            <%= f.select :car_park, [['1', '1'],['2', '2']], {}, {class:"custom-select custom-select-lg form-control"} %>
          </div>
					<div class="form-group col-md-3">
            <%= f.label :plot_size, 'Plot Size (sqft):', class:"d-block text-black-50" %>
            <%= f.text_field :plot_size, class:"form-control-lg form-control" %>
					</div>
        </div>
			</div>

      <div class="mt-4">
        <h5>Investment Details</h5>
        <hr class="mb-4 border-info">
        <div class="form-row">
          <div class="form-group col-md-3">
            <%= f.label :currency, 'Currency:', class:"d-block text-black-50" %>
            <%= f.select :currency, [['$', '$']], {}, {class:"custom-select custom-select-lg form-control"} %>
          </div>
          <div class="form-group col-md-3">
            <%= f.label :value, 'Property Value:', class:"d-block text-black-50" %>
            <%= f.number_field :value, class:"form-control-lg form-control" %>
          </div>
          <div class="form-group col-md-3">
            <%= f.label :total_shares, 'Total Shares:', class:"d-block text-black-50" %>
            <%= f.number_field :total_shares, class:"form-control-lg form-control" %>
          </div>
          <div class="form-group col-md-3">
            <%= f.label :min_shares, 'Minimum Shares:', class:"d-block text-black-50" %>
            <%= f.number_field :min_shares, class:"form-control-lg form-control" %>
          </div>
        </div>
      </div>

			<div class="text-right my-4">
				<%= f.button 'CREATE PROPERTY',class:'btn btn-info ml-md-2 button-block submit' %>
			</div>
		</div>
	</div>
<% end %>>
