<div class="container-fluid bg-light">
	<div class="text-center py-5 pr-0">
		<h2>Our Assets</h2>
		<p>
			Here are the real estate investments that are powering the returns of our investors.<br>
		</p>
	</div>
</div>
<div class="container">
	<div class="mb-4 pt-5 pb-sm-2 border-bottom">
		<ul class="list-unstyled d-sm-flex mb-0 mb-sm-3">
			<li class="d-flex flex-fill align-items-center">
				<div>
					<h5>6

						Properties

						Listed
					</h5>
				</div>
			</li>
			<li class="mt-3 mt-sm-0 p-sm-0 py-2 px-3 display-filter">
				<div class="d-flex align-items-baseline">
					<h6>Display:&nbsp;</h6>
					<select id="invStatus" class="custom-select border-top-0 border-right-0 border-left-0 rounded-0" style="border-bottom-style:dashed" onchange="refreshListing()"><option value="all">All Investments</option><option value="active">Active Investments</option><option value="completed">Completed Investments</option></select>
				</div>
			</li>
		</ul>
	</div>
	<ul class="list-unstyled bg-light d-block d-sm-flex mb-4 px-3 pt-4 pb-3 rounded">
		<li class="mr-3">
			<div class="d-block d-sm-flex align-items-center">
				<div class="pt-2 mr-sm-2 mb-2">
					<h6 class="text-black-50">Filter:&nbsp;</h6>
				</div>
				<div class="mr-sm-2 mb-2">
					<select id="invFilter" class="custom-select border-0" onchange="setFilter(this)"><option value="none">None</option><option value="region">By Region</option><option value="country">By Country</option></select>
				</div>
				<div class="mb-2">
					<select id="region" class="custom-select border-0" style="display:none" onchange="refreshListing(this)">
						<option value="all">All Region</option>

							<option value="NA">North America</option>

							<option value="AF">Africa</option>

					</select>
				</div>
				<div class="mb-2">
					<select id="country" class="custom-select border-0" style="display:none" onchange="refreshListing(this)">
						<option value="all">All Country</option>

							<option value="USA">United States</option>

							<option value="NGA">Nigeria</option>

					</select>
				</div>
			</div>
		</li>
	</ul>

	<div class="position-relative">
		<div id="spinnerProp" class="position-absolute bg-white p-3 h-100" style="top:0;left:0;right:0;opacity:0.8;z-index:1000; display:none;">
			<div class="spinner-border" role="status">
			</div>
		</div>
		<div id="propwrapper" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xs-1 prop-wrapper">
			<% @properties.each do |property| %>
				<div class="col mb-4 prop-item" style="">
					<div class="border rounded-0 shadow-sm d-flex flex-column justify-content-between h-100">
						<div>
							<%= image_tag property.prop_image, width:"100%" %>

							<span class="text-white bg-success property-status">
								<%= property.status %>
							</span>
							<div class="text-info px-3 pt-3 mb-4">
								<h5><%= property.name %></h5>
								<p class="property-address">
									<%= property.address %>
								</p>
							</div>
						</div>

						<div class="text-secondary px-3">
							<ul class="list-unstyled d-flex border-bottom pb-2 mb-2">
								<li class="flex-fill" title="Test">Property Type&nbsp;</li>
								<li class="text-right flex-fill justify-content-lg-end font-weight-bold">
									<%= property.prop_type %>
								</li>
							</ul>
							<ul class="list-unstyled d-flex border-bottom pb-2 mb-2">
								<li class="flex-fill" title="Price per unit share">
									Share Price&nbsp;
								</li>
								<li class="text-right flex-fill justify-content-lg-end font-weight-bold">
									$<%= property.value / property.total_shares  %>
								</li>
							</ul>
							<ul class="list-unstyled d-flex">
								<li class="flex-fill" data-toggle="tooltip" data-bs-tooltip="" title="This is the projected yield for this property, after all costs and transaction fees.">
									Estimated Yield&nbsp;
								</li>
								<li class="text-right flex-fill justify-content-lg-end font-weight-bold">
									10%
								</li>
							</ul>
						</div>

						<%= link_to property_path(property.id), class:"d-flex justify-content-center align-items-center quick-view" do  %>
							<%= button_tag 'Quick View', class:"btn btn-dark shadow" %>
						<% end %>
						
						<!-- <a class="d-flex justify-content-center align-items-center quick-view" href="" data-id="5f6734d1e7179a6ea51fa4f2" data-toggle="modal" data-target="#quickView"><button class="btn btn-dark shadow" type="button">Quick View</button></a> -->
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>


<!-- <div id="quickView" role="dialog" tabindex="-1" class="modal fade" >
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div id="spinnerQuickView" class="spinner-border spinner-border-sm m-2" role="status"></div>
				<div id="imageSection" class="position-relative">
					<img id="image" src="" width="100%" />
					<div class="text-white bg-dark p-3 position-absolute" style="left:0;right:0;bottom:0;opacity:0.95;">
						<h5 id="name" class="mb-0"></h5>
						<p id="address" class="mb-0"><br /></p>
						<ul class="list-unstyled d-inline-flex align-items-start font-weight-bold text-black-50 px-2 py-1 mb-0 mt-2 border rounded bg-white ">
							<li id="bed" class="mr-3"></li>
							<li id="bath" class="mr-3"></li>
							<li id="car" class="mr-3"></li>
							<li id="sqft"> sqft</li>
						</ul>
					</div>
				</div>
				<button
					type="button"
					class="close position-absolute mr-4"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div id="content" class="modal-body px-0 pt-0">
				<ul class="list-unstyled bg-light d-flex justify-content-between px-3 py-2 mb-0 border-bottom">
					<li class="py-2">
						<div>
							<p class="text-black-50 mb-0" style="font-size: 14px;">Property Type</p>
							<h6 id="type" class="mb-0 text-info"></h6>
						</div>
					</li>
					<li class="py-2">
						<div>
							<p class="text-black-50 mb-0" style="font-size: 14px;">Share Price</p>
							<h6 id="price" class="mb-0 text-info"></h6>
						</div>
					</li>
					<li class="py-2">
						<div>
							<p class="text-black-50 mb-0" style="font-size: 14px;">Units Available</p>
							<h6 id="units" class="mb-0 text-info"></h6>
						</div>
					</li>
					<li class="py-2">
						<div>
							<p class="text-black-50 mb-0" style="font-size: 14px;">Est. Yield</p>
							<h6 id="yield" class="mb-0 text-info">10%</h6>
						</div>
					</li>
				</ul>
				<div class="p-3">
					<h6>Property Insight</h6>
				</div>
			</div>
			<div class="modal-footer">
				<a id="detailsButton" class="btn btn-info" href="">VIEW DETAILS</a>
			</div>
		</div>
	</div>
</div> -->
