<div class="container-fluid bg-light">
	<% if flash[:error] %>
    <div class="notice">
      <div class="container">
        <i class="fas fa-ban"></i> <%= flash[:error] %>
      </div>
    </div>
  <% end %>
	<div class="text-center py-5 pr-0">
		<h2>Invest in Premium Properties</h2>
		<p>
			Here are the real estate investments that are powering the returns of our investors.<br>
		</p>
	</div>
</div>
<div class="container">
	<div class="mb-4 pt-5 pb-sm-2 border-bottom">
		<ul class="list-unstyled d-sm-flex mb-0 mb-sm-3">
			<li class="d-flex flex-fill align-items-center">
				<div>
					<h5><%= @properties.all.count %>

						Properties

						Listed
					</h5>
				</div>
			</li>
			<li class="mt-3 mt-sm-0 p-sm-0 py-2 px-3 display-filter">
				<div class="d-flex align-items-baseline">
					<h6>Display:&nbsp;</h6>
					<select id="invStatus" class="custom-select border-top-0 border-right-0 border-left-0 rounded-0" style="border-bottom-style:dashed" onchange="refreshListing()"><option value="all">All Investments</option><option value="active">Active Investments</option><option value="completed">Completed Investments</option></select>
				</div>
			</li>
		</ul>
	</div>
	<ul class="list-unstyled bg-light d-block d-sm-flex mb-4 px-3 pt-4 pb-3 rounded">
		<li class="mr-3">
			<div class="d-block d-sm-flex align-items-center">
				<div class="pt-2 mr-sm-2 mb-2">
					<h6 class="text-black-50">Filter:&nbsp;</h6>
				</div>
				<div class="mr-sm-2 mb-2">
					<select id="invFilter" class="custom-select border-0" onchange="setFilter(this)"><option value="none">None</option><option value="region">By Region</option><option value="country">By Country</option></select>
				</div>
				<div class="mb-2">
					<select id="region" class="custom-select border-0" style="display:none" onchange="refreshListing(this)">
						<option value="all">All Region</option>

							<option value="NA">North America</option>

							<option value="AF">Africa</option>

					</select>
				</div>
				<div class="mb-2">
					<select id="country" class="custom-select border-0" style="display:none" onchange="refreshListing(this)">
						<option value="all">All Country</option>

							<option value="USA">United States</option>

							<option value="NGA">Nigeria</option>

					</select>
				</div>
			</div>
		</li>
	</ul>

	<div class="position-relative">
		<div id="spinnerProp" class="position-absolute bg-white p-3 h-100" style="top:0;left:0;right:0;opacity:0.8;z-index:1000; display:none;">
			<div class="spinner-border" role="status">
			</div>
		</div>
		<div id="propwrapper" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xs-1 prop-wrapper">
			<% @properties.each do |property| %>
				<div class="col mb-4 prop-item" style="">
					<div class="border rounded-0 shadow-sm d-flex flex-column justify-content-between h-100">
						<div>
							<%= image_tag asset_path("#{property.prop_image}.jpg"), width:"100%" %>

							<span class="text-white bg-success property-status">
								<%= property.status %>
							</span>
							<div class="text-info px-3 pt-3 mb-4">
								<h5><%= property.name %></h5>
								<p class="property-address">
									<%= property.address %>
								</p>
							</div>
						</div>

						<div class="text-secondary px-3">
							<ul class="list-unstyled d-flex border-bottom pb-2 mb-2">
								<li class="flex-fill" title="Test">Property Type&nbsp;</li>
								<li class="text-right flex-fill justify-content-lg-end font-weight-bold">
									<%= property.prop_type %>
								</li>
							</ul>
							<ul class="list-unstyled d-flex border-bottom pb-2 mb-2">
								<li class="flex-fill" title="Price per unit share">
									Share Price&nbsp;
								</li>
								<li class="text-right flex-fill justify-content-lg-end font-weight-bold">
									$<%= property.value / property.total_shares  %>
								</li>
							</ul>
							<ul class="list-unstyled d-flex">
								<li class="flex-fill" data-toggle="tooltip" data-bs-tooltip="" title="This is the projected yield for this property, after all costs and transaction fees.">
									Estimated Yield&nbsp;
								</li>
								<li class="text-right flex-fill justify-content-lg-end font-weight-bold">
									10%
								</li>
							</ul>
						</div>

						<%= link_to property_path(property.id), class:"d-flex justify-content-center align-items-center quick-view" do  %>
							<%= button_tag 'Quick View', class:"btn btn-dark shadow" %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
