<!DOCTYPE html>
<html>
  <head>
    <title>Mulka: Own properties and share the risk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css"/>
  </head>

  <body>

      <div class="container-fluid border-bottom position-relative px-0" style="z-index: 1000;">
        <%= render partial: 'layouts/topnav' %>
      </div>

    <%= yield %>

    <% if request.path != login_path && request.path != new_user_path %>
      <div class="footer-clean border-top">
      	<footer>
      		<div class="container">
      			<p class="copyright">Mulka © 2020</p>
      		</div>
      	</footer>
      </div>
    <% end %>
  </body>
</html>
