<h1>Accounts#new</h1>
<p>Find me in app/views/accounts/new.html.erb</p>

<%= form_with model: @account, local: true do |f| %>

	<div class="container py-5">
		<h4 class="text-info flex-fill mt-md-4 mb-5">New Investment Account<br></h4>
		<div class="border rounded p-4">
			<div>
				<h5>Account Details</h5>
				<hr class="mb-4 border-info">
				<div class="form-row">
					<div class="form-group col-md-6">
            <%= f.label :account_type, 'Account Type:', class:"d-block text-black-50", onchange:'showHideCompany(this)'%>
            <%= f.select :account_type, [['Individual Account', 'Individual Account'], ['Corporate Account', 'Corporate Account']], {}, {class:"custom-select custom-select-lg form-control"} %>
					</div>
					<div class="form-group col-md-6">
            <%= f.label :account_name, 'Account Name:', class:"d-block text-black-50" %>
            <%= f.text_field :account_name, class:"form-control-lg form-control" %>
					</div>
				</div>
			</div>

			<%= f.fields_for :profile do |f| %>
				<div class="mt-4">
				<h5>Contact Person</h5>
				<hr class="mb-4 border-info">
				<div class="form-row">
					<div class="form-group col-md-4">
            <%= f.label :first_name, 'First Name:', class:"d-block text-black-50" %>
            <%= f.text_field :first_name, class:"form-control-lg form-control", readonly:'true', value: @account.profile.first_name %>
					</div>
					<div class="form-group col-md-4">
						<%= f.label :middle_name, 'Middle Name:', class:"d-block text-black-50" %>
            <%= f.text_field :middle_name, class:"form-control-lg form-control", readonly:'true', value: @account.profile.middle_name %>
					</div>
					<div class="form-group col-md-4">
						<%= f.label :last_name, 'Middle Name:', class:"d-block text-black-50" %>
            <%= f.text_field :last_name, class:"form-control-lg form-control", readonly:'true', value: @account.profile.last_name %>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<%= f.label :email, 'Middle Name:', class:"d-block text-black-50" %>
            <%= f.text_field :email, class:"form-control-lg form-control", readonly:'true', value: @account.profile.email %>
					</div>
					<div class="form-group col-md-6">
						<%= f.label :mobile_number, 'Middle Name:', class:"d-block text-black-50" %>
            <%= f.text_field :mobile_number, class:"form-control-lg form-control", readonly:'true', value: @account.profile.mobile_number %>
					</div>
				</div>
			</div>
			<% end %>

			<div id="corporateIdentity" class="mt-4" style="display:none;">
				<h5>Company Details</h5>
				<hr class="mb-4 border-info">
				<div class="form-row">
					<div class="form-group col-md-6">
						<%= f.label :company_name, 'Company Name:', class:"d-block text-black-50" %>
            <%= f.text_field :company_name, class:"form-control-lg form-control" %>

						<!-- <label class="d-block text-black-50">Company Name:</label>
						<input id="companyName" type="text" class="form-control-lg form-control" name=""> -->
					</div>
					<div class="form-group col-md-6">
						<%= f.label :reg_number, 'Registration Number:', class:"d-block text-black-50" %>
            <%= f.text_field :reg_number, class:"form-control-lg form-control" %>

						<!-- <label class="d-block text-black-50">Registration Number:</label>
						<input id="regNumber" type="text" class="form-control-lg form-control" name=""> -->
					</div>
				</div>
			</div>

			<div class="mt-4">
				<h5>Contact Address</h5>
				<hr class="mb-4 border-info">
				<div id="locationField" class="form-row">
					<div class="form-group col-12 mb-0">
						<input id="autocomplete" onfocus="geolocate()" type="text" class="form-control-lg form-control rounded-0 pac-target-input" name="address" placeholder="Enter your address..." autocomplete="off">
					</div>
				</div>
				<div class="text-right bg-light custom-control custom-switch pr-4 py-2 border-bottom">
					<input type="checkbox" id="manualAddress" onclick="autoManual(this)" class="custom-control-input" name="manualAddress">
					<label class="custom-control-label" for="manualAddress">Manually Fill Address</label>
				</div>
				<div class="p-4 bg-light">
					<%= f.label :street_name, 'Street Address:', class:"d-block text-black-50" %>
					<div class="form-row">
						<div class="form-group col-lg-2 col-3">
							<%= f.text_field :street_number, id:'street_number', class:"form-control-lg form-control pl-2", value:@account.profile.address.street_number, readonly:'true' %>
						</div>
						<div class="form-group col-lg-10 col-9">
							<%= f.text_field :street_name, id:'route', class:"form-control-lg form-control pl-2", value:@account.profile.address.street_name, readonly:'true' %>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<%= f.label :suburb, 'Suburb / City:', class:"d-block text-black-50" %>
							<%= f.text_field :suburb, id:'locality', class:"form-control-lg form-control pl-2", value:@account.profile.address.suburb, readonly:'true' %>
						</div>
						<div class="form-group col-md-6">
							<%= f.label :zipcode, 'Zip Code:', class:"d-block text-black-50"%>
							<%= f.text_field :zipcode, id:'postal_code', class:"form-control-lg form-control pl-2", value:@account.profile.address.zipcode, readonly:'true' %>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<%= f.label :state, 'State:', class:"d-block text-black-50" %>
							<%= f.text_field :state, id:'administrative_area_level_1', class:"form-control-lg form-control pl-2", value:@account.profile.address.state, readonly:'true' %>
						</div>
						<div class="form-group col-md-6">
							<%= f.label :country, 'Country:', class:"d-block text-black-50" %>
							<%= f.text_field :country, id:'country', value:@account.profile.address.country, class:"form-control-lg form-control pl-2", readonly:'true' %>
						</div>
					</div>
				</div>
			</div>


			<div class="text-right my-4">
				<%= f.button 'CREATE ACCOUNT',class:'btn btn-info ml-md-2 button-block submit' %>
			</div>
		</div>
	</div>
<% end %>>
